services:
  app:
    build: .
    container_name: unique-developers-app
    volumes:
      - ./output:/app/output
      - ./data:/app/data
    environment:
      - PYTHONPATH=/app/src
    command: python src/main.py
    depends_on:
      - sonarqube
    networks:
      - app-network

  sonarqube:
    image: sonarqube:latest
    container_name: sonarqube
    ports:
      - "9000:9000"
    environment:
      - SONAR_ES_BOOTSTRAP_CHECKS_DISABLE=true
      - SONAR_JDBC_URL=jdbc:postgresql://postgres:5432/sonar
      - SONAR_JDBC_USERNAME=sonar
      - SONAR_JDBC_PASSWORD=sonar
      - SONAR_SEARCH_JAVAADDITIONALOPTS=-Dnode.store.allow_mmap=false
      - SONAR_JAVAOPTS=-Xms512m -Xmx1024m
    volumes:
      - sonarqube_data:/opt/sonarqube/data
      - sonarqube_logs:/opt/sonarqube/logs
      - sonarqube_extensions:/opt/sonarqube/extensions
    depends_on:
      postgres:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000"]
      interval: 30s
      timeout: 10s
      retries: 5
    networks:
      - app-network
    mem_limit: 2g

  postgres:
    image: postgres:15
    container_name: sonarqube-postgres
    environment:
      - POSTGRES_USER=sonar
      - POSTGRES_PASSWORD=sonar
      - POSTGRES_DB=sonar
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U sonar"]
      interval: 10s
      timeout: 5s
      retries: 5

  sonar-scanner:
    image: sonarsource/sonar-scanner-cli:latest
    container_name: sonar-scanner
    volumes:
      - .:/usr/src
    working_dir: /usr/src
    environment:
    - SONAR_HOST_URL=http://sonarqube:9000
    - SONAR_TOKEN=sqa_c7158772f47cc08e3554ec8c084f4ad60a8633f6
    command: >
      sh -c "
        echo 'Waiting for SonarQube...' &&
        sleep 90 &&
        sonar-scanner
      "
    depends_on:
      sonarqube:
        condition: service_healthy
    networks:
      - app-network

volumes:
  sonarqube_data:
  sonarqube_logs:
  sonarqube_extensions:
  postgres_data:

networks:
  app-network:
    driver: bridge
